<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('./partial/import.ejs') %>
    <link rel="shortcut icon" href="/images/favicon.ico">
    <title>한솥 도시락</title>
</head>
<body>
    <div class="container">
        <%- include('./partial/header.ejs',{user:user}); %>
        <%- include('./partial/mainSection.ejs') %>
        <%- include('./partial/footer.ejs') %>
    </div>
</body>
</html>

