<%- include('./import2.ejs') %>
<%- include('./import.ejs') %>
<div class="row">
    <div class="col">
        <header id="header" style="">
            <!-- header flex-->
            <div class="hd_flex">
                <div class="area_flex" style="display: block;">
                    <ul>
                        <li>
                            <a href="https://www.hsd.co.kr/login">로그인</a>
                            </li>
                        <li>
                            <a href="https://www.hsd.co.kr/join/join_step1">회원가입</a>
                            </li>
                        <li class="sns_insta">
                            <a href="https://www.instagram.com/hansot_official/" target="_blank" title="새 창 열림"><span class="blind">instagram</span></a>
                        </li>
                        <li class="sns_face">
                            <a href="https://www.facebook.com/hansotOfficial/?ref=ts&amp;fref=ts" target="_blank" title="새 창 열림"><span class="blind">facebook</span></a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- //header flex -->
        
            <!-- header content -->
            <div class="hd_fixed" style="display: block;">
                <div class="hd_content">
                    <div class="logo">
                        <h1><a href="https://www.hsd.co.kr/"><span class="blind">한솥</span></a></h1>
                    </div>
                    <!-- gnb -->
                    <section id="gnb" class="area_gnb mo_version">
                        <!-- 모바일 로그인/회원가입 -->
                        <div class="m_area_flex">
                            <ul>
                                <li>
                                    <a href="https://www.hsd.co.kr/login">로그인</a>
                                    </li>
                                <li>
                                    <a href="https://www.hsd.co.kr/join/join_step1">회원가입</a>
                                    </li>
                            </ul>
                        </div>
                        <!-- //모바일 로그인/회원가입 -->
        
                        <div class="gnb_menu">
                            <ul class="" style="height: 90px;">
                                <li class="dp1">
                                    <p class="dp1_tit"><a href="#none">BRAND</a></p>
                                    <div class="dp2" style="display: none;">
                                        <ul></ul>
                                    </div>
                                </li>
                                <li class="dp1">
                                    <p class="dp1_tit"><a href="#none">ESG</a></p>
                                    <div class="dp2" style="display: none;">
                                        <ul></ul>
                                    </div>
                                </li>
                                <li class="dp1">
                                    <p class="dp1_tit"><a href="#none">MENU</a></p>
                                    <div class="dp2" style="display: none;">
                                        <ul>
                                            <li><a href="https://www.hsd.co.kr/menu/menu_list">전체메뉴</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="dp1">
                                    <p class="dp1_tit"><a href="#none">STORE</a></p>
                                    <div class="dp2" style="display: none;">
                                        <ul>
                                            <li><a href="https://www.hsd.co.kr/store/store_find">주변점포찾기</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="dp1">
                                    <p class="dp1_tit"><a href="#none">EVENT</a></p>
                                    <div class="dp2" style="display: none;">
                                        <ul>
                                        </ul>
                                    </div>
                                </li>
                                <li class="dp1">
                                    <p class="dp1_tit"><a href="#none">FRANCHISE</a></p>
                                    <div class="dp2" style="display: none;">
                                        <ul>
                                        </ul>
                                    </div>
                                </li>
                                <li class="dp1">
                                    <p class="dp1_tit"><a href="#none">HANSOT</a></p>
                                    <div class="dp2" style="display: none;">
                                        <ul>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </section>
                    <!--// gnb -->
                    <!-- pc:bg -->
                    <div class="bg_layer" style="opacity: 0; height: 0px;"></div>
                    <!-- //pc:bg -->
                    <!-- mobile_btn -->
                    <div class="mobile_menu_btn">
                        <div class="hamburger" id="hamburger-6">
                            <span class="line"></span>
                            <span class="line"></span>
                            <span class="line"></span>
                        </div>
                    </div>
                    <!-- //mobile_btn -->
                </div>
                <!--// header content -->
            </div>
        </header>
        
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img class="d-block w-100" src="..." alt="First slide">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="..." alt="Second slide">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="..." alt="Third slide">
              </div>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-sm-12">
                <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <img src="/images/c1.jpg" class="d-block w-100" alt="...">
                      </div>
                      <div class="carousel-item">
                        <img src="/images/c2.jpg" class="d-block w-100" alt="...">
                      </div>
                      <div class="carousel-item">
                        <img src="/images/c3.jpg" class="d-block w-100" alt="...">
                      </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>
            </div>
            </div>
    </div>
</div>
